{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="py-5 text-center">
  <div class="container">
    <div class="row">
      <div class="mx-auto col-lg-5 col-md-7 col-10">
        <h3>찾아주개란?</h3>
        <p class="lead">소개글</p>
      </div>
    </div>
  </div>
</div>
<div class="py-5 text-center">
  <div class="container">
    <div class="row">
      <div class="mx-auto col-md-12">
        <h1 class="mb-3">Meet&nbsp;the team</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="https://static.pingendo.com/img-placeholder-1.svg" width="100" alt="Card image cap">
        <h4> <b>Koo</b> </h4>
        <p>2017125004</p>
        <p class="mb-0"> <i>"I throw myself down among the tall grass by the trickling"</i> </p>
      </div>
      <div class="col-lg-3 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="https://static.pingendo.com/img-placeholder-2.svg" width="100" alt="Card image cap">
        <h4> <b>Moon</b> </h4>
        <p>2017125022</p>
        <p class="mb-0"> <i>"Neo Culture Technology 💚"</i> </p>
      </div>
      <div class="col-lg-3 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="https://static.pingendo.com/img-placeholder-3.svg" width="100">
        <h4> <b>Park</b> </h4>
        <p>2017125030</p>
        <p class="mb-0"> <i>"다시는 웹 안합니다."</i> </p>
      </div>
      <div class="col-lg-3 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="https://static.pingendo.com/img-placeholder-4.svg" width="100">
        <h4> <b>Choi</b> </h4>
        <p>2016125076</p>
        <p class="mb-0"> <i>"Heaven and earth seem to dwell in my soul"</i> </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
